body
{
    text-align: center;
    color: white;
}

.container
{
	margin: 5%
}

#password
{
	color: red;
}

.options
{
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
}

.morning
{
    background-color: #865F86;
}

.afternoon
{
    background-color: #2C87C8;
}

.evening
{
    background-color: #C7B02F;
}

.night
{
    background-color: #180629;
}
